<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/blog.css">
	 <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
	 <meta name="viewport" content="width=device-width">
</head>

<body>
	
	{% include head.html %}
	<div id='mainWrap'>
		<div class='para description'>
			
				<p>时间就是这么的喜新厌旧，你若不经常给它尝尝鲜，找点刺激，它就会悄悄地溜走。</p>
				<p>在你日复一日对着电脑的时候，挤上公交的时候，拿着电视摇控器的时候，多少的日子都渐渐重叠、揉成了模糊的一团</p>
					
					<p class='imgWrap'>
						<img src="images/intro_bg.gif">
					</p>
					<p class='autoImg'>
						<img src="images/xiao.gif">
					</p>
			</div>
			<div id='table_men' style="font-size:32px;color:#333;font-family:Helvetica, Arial, sans-serif;text-shadow:1px 1px 7px #000;">
				
			</div>
		{{ content }}
<script>
 var scenes = function(){
    var act = true,
      putScene = ["┬─┬ ノ( ' - 'ノ)","┬─┬ ノ( @ - @ノ)☆","┬─┬ ノ( ^ v ^ノ)","┬─┬ ノ( < _ < ノ)"],
      tableScene = [
                  "(╯' - ')╯︵ ┻━┻",
                  "(╯°Д°)╯︵ ┻━┻",
                  "(#＝皿＝)╯︵┻━┻ ",
                  "(╯‵皿′)╯︵┻━┻ ",
                  "(╯′ -｀)╯ ┫:·'∵:.┻┻:·'.:┣∵·:. ┳┳☆"],
      putWords = ["咦，有张桌子 ? ","哇塞，运气好好，又有一张","就要吃饭饭了~看我的饭桌 ","天上掉下个大桌子~~","这桌子摸起来好滑！","当我正在思考人生的时候，我的面前居然有张桌子","当我感觉想拉粑粑的时候，我的面前居然有张桌子"],
      tableWords = ["哎哟!手滑","试试质量!","我的大刀早已饥渴难耐了！!","我掀！","居然出现在我的面前！","人生真是寂寞如雪!"],
      shape = "font-size:32px;color:#333;font-family:Helvetica, Arial, sans-serif;text-shadow:1px 1px 7px #000;";

    return function(){
        var movie = "", w_num = 0 , t_num = 0;
        if(act){
          var w_num = Math.ceil( putScene.length * Math.random() ) - 1,
              t_num = Math.ceil( putWords.length * Math.random() ) - 1;
          movie = putScene[w_num] + " " + putWords[t_num]; 
        }else{
          var w_num = Math.ceil( tableScene.length * Math.random() ) - 1,
              t_num = Math.ceil( tableWords.length * Math.random() ) - 1;
          movie = tableScene[w_num] + " " + tableWords[t_num];   
        }
          act =!act;
          document.getElementById("table_men").innerHTML = movie;
          console.log( movie , shape );
          // console.log(scene[act++],shape );
        }
  }();
	

</script>
	</div>
	
	{% include footer.html %}
</body>
</html>
