<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/blog.css">
	 <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
	 <meta name="viewport" content="width=device-width">
</head>

<body>
	
	{% include head.html %}
	<div id='mainWrap'>
		<div class='para description'>
			<h2>The Road to Enlightenment</h2>
			<p class='dateMeta'>2013-7-10</p>
			
				<p>Littering a dark and dreary road lay the past relics of browser-specific tags, incompatible DOMs, broken CSS support, and abandoned browsers.</p>
					<p>
					We must clear the mind of the past. Web enlightenment has been achieved thanks to the tireless efforts of folk like the W3C, WaSP, and the major browser creators.
					</p>
					<p>
					The CSS Zen Garden invites you to relax and meditate on the important lessons of the masters. Begin to see with clarity. Learn to use the time-honored techniques in new and invigorating fashion. Become one with the web.</p>
					<p class='imgWrap'>
						<img src="images/intro_bg.gif">
					</p>
			</div>
		{{ content }}

	</div>
	
	{% include footer.html %}
</body>
</html>
