<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/blog.css">
	 <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
	 <meta name="viewport" content="width=device-width">
</head>

<body>
	
	{% include head.html %}
	<div id='mainWrap'>
		<div class='para description'>
			
				<p>时间就是这么的喜新厌旧，你若不经常给它尝尝鲜，找点刺激，它就会悄悄地溜走。</p>
				<p>在你日复一日对着电脑的时候，挤上公交的时候，拿着电视摇控器的时候，多少的日子都渐渐重叠、揉成了模糊的一团</p>
					
					<p class='imgWrap'>
						<img src="images/intro_bg.gif">
					</p>
					<p class='autoImg'>
						<img src="images/xiao.gif">
					</p>
			</div>
		{{ content }}

	</div>
	
	{% include footer.html %}
</body>
</html>
